.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -2;
}

.input-champ {
    box-shadow: none;
    border-radius: 8px;
    outline: none;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 50%;
}
